/* .logo{ font-family: Raleway ,sans-serif; */
    /* font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    text-align: left;}
    .logo-web{ color:#5D3FD3;}
    .logo-studio{ color:#000080;}





.main-navi{ 
    font-family: Roboto;
    text-shadow: 2px 2px 4px #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    } */

    header
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        background-color: #fff;
        /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    }
    .logo 
    {   font-family: Raleway ,sans-serif;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }
      
      .logo-web {
        color: #5D3FD3;
      }
      
      .logo-studio {
        color: #000080;
      }
      
      .main-navi {
        display: flex;
        list-style: none;
         margin: 0;
         padding: 0;
      } 
      
      .main-navi li {
        margin-left: 60px;
      }
      
      .main-navi li:first-child {
        margin-left: 0;
      }
      
      .main-navi li a {
        text-decoration: none;
        color: #333;
        font-size: 16px;
      }
      
      .main-navi li a:hover {
        color: #ff8c00;
      }
      
      .main-navi-mail,
      .main-navi-tel {
        text-decoration: none;
        color: #333;
        font-size: 16px;
      }
      
      .main-navi-mail:hover,
      .main-navi-tel:hover {
        color: #db20ad;
      }