:root
{
 --ocean:#404BBF;--iris:#4D5AE5;--navyblue:#2F2F42;
 --green:#31D0AA;--slate:#434455;--lightslate:#8E8F99;
 --cornflower:#E7E9FC;--cloud:#F4F4FD;--navybluemodal:#2E2F42;
 --grey:#808080;--white:#FFFFFF;--dairy:#FCFCFC;
}

.link{text-decoration: none;}
.list{list-style: none;}
.filter-btn:is(:hover,:focus){background-color:var(--ocean);color:var(--white);}
/* .filter-btn-text:is(:hover,:focus){color:var(--white);} */
.hero-btn:hover{background-color:var(--ocean);} 
.hero-btn:focus{background-color:var(--ocean);}

/* body { */
  /* font-family: "Roboto Flex", sans-serif; }*/

  /** -------------HEADER---------------- */

.header-logo {
  font-family: "Raleway",sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-logo-web {
  color:var(--iris);
}
.header-logo-studio {
  color:var(--navybluemodal);
}

.header-link {
  font-family:"Roboto Flex",sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:var(--navybluemodal);
}
.header-adress{
  font-style: normal;
}


.header-mail {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:var(--slate);
}
.header-phone {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:var(--slate);
}

/** -------------HERO---------------- */
.hero {
  background-color:var(--navybluemodal);
}
.hero-title {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color:var(--white);
}
.hero-btn {
  color:var(--white);
  background:var(--iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}


/** -------------FEATURES---------------- */

.show-for-index {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.features-list-title {
  font-family: "Roboto Flex";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color:var(--navybluemodal);
}
.features-list-text {
  font-family: "Roboto Flex";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:var(--slate);
}

/** -------------OURJOB---------------- */
.ourjob-title {
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color:var(--navybluemodal);
}

/** -------------OURTEAM---------------- */
.ourteam{background-color: var(--cloud);}

.ourteam-title {
  font-family: "Roboto Flex";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color:var(--navybluemodal);
}
.oueteam-list-name {
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  
  letter-spacing: 0.02em;
  color:var(--navybluemodal);
}
.oueteam-list-jobtitle {
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:var(--slate);
}


/** -------------FOOTER---------------- */
.footer{
  background:var(--navyblue);
}
.footer-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo-web {
  color:var(--iris);
}
.footer-logo-studio {
  color:var(--cloud);
}
.footer-text{
  font-family: 'Roboto Flex';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--cloud);
}

.ourworks {
}





.filter-list {
}

.filter-list-item {
}

.filter-btn {
  width: 126px;
  height: 48px;
 color:var(--iris);
  background:var(--cloud);
  border: 1px solid var(--cornflower);
  border-radius: 4px; 
}
.filter-btn-text {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  /* color:var(--iris); */
}
.works-list {
}
.works-list-item {
}
.works-list-title {
  font-family: 'Roboto Flex';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}
.works-list-text {
  font-family: 'Roboto Flex';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:var(--slate);
}
